<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conexao.Properties.Settings.stringConexao" connectionString="Data Source=DESKTOP-GGJN75H;Initial Catalog=Kanino;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>