<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conexao.Properties.Settings.stringConexao" connectionString="Data Source=hippo-pi.database.windows.net;Initial Catalog=hippo;User ID=TSI;Password=SistemasInternet123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>